body{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.top-container{
  background-color: #FDEBF7;
  position: relative;
  padding-top: 80px;
}
.middle-container{
  margin: 100px 0;
}
p{
  line-height: 2;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Seaweed Script', cursive;
  font-size: 5rem;
  color: #6a3464;
  font-weight: normal;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #B34180;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #822659;
}
.und{
  text-decoration: underline;
}
a{
  color: #822659;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
#mountainscale{
  width: 100%;
}
.bottom-cloud{
  position: absolute;
  left:500px;
}
.upper-cloud{
  position: absolute;
  left:0;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.skill-code{
  width:25%;
  float: left;
  margin-right: 30px;
}
.skill-edit{
  width:25%;
  float:right;
  margin-left: 30px;
}
hr{
  border-style: none;
  border-top-style: dotted;
  width: 3%;
  border-width: 5px;
  border-color: grey;
  margin: 100px auto;
}
.profile{
  width: 30%;
  margin: auto;
}
.bottom-container{
  background-color: #FE83C6;
  padding: 50px 0 20px;
}
.secondtitle{
  font-family: 'Smooch Sans', sans-serif;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.footer-link{
  color: #E60965;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #f567e4;
  background-image: -webkit-linear-gradient(top, #f567e4, #cb1ad4);
  background-image: -moz-linear-gradient(top, #f567e4, #cb1ad4);
  background-image: -ms-linear-gradient(top, #f567e4, #cb1ad4);
  background-image: -o-linear-gradient(top, #f567e4, #cb1ad4);
  background-image: linear-gradient(to bottom, #f567e4, #cb1ad4);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #df5eeb;
  background-image: -webkit-linear-gradient(top, #df5eeb, #b56295);
  background-image: -moz-linear-gradient(top, #df5eeb, #b56295);
  background-image: -ms-linear-gradient(top, #df5eeb, #b56295);
  background-image: -o-linear-gradient(top, #df5eeb, #b56295);
  background-image: linear-gradient(to bottom, #df5eeb, #b56295);
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
